@import 'variables.scss';
@import 'header/header.scss';
@import 'form/form.scss';

@import 'arcades/arcades-listing.scss';
@import 'arcades/arcade-detail.scss';

.clickable {
	&:hover {
		cursor: pointer;
	}
}

.page-title {

	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.arcade {
	color: #000000;

}

.escaperoom {
	color: #000000;

}

.cinema {
	color: #000000;


}

.btn-bwm {
	background-color: $dark-blue-color;
	border-color: $dark-blue-color;
	color: white;
	padding: 15px 30px;
	font-size: 20px;

	&:hover, &:focus, &:active {
		border-color: $dark-blue-color !important;
		background-color: $dark-blue-color !important;
	}
}