$main-color: #CAD3C8;
$main-text-gray-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;
$dark-blue-color: #222f3e; //#4a69bd; //Azraq blue
$light-gray-color-2: #dedada;